/* left bar */
.side-menu {
    position: relative;
    width: 130px;
}

.left-bar {
    position: absolute;
    z-index: 10;
    height: 700px;
    background-color: white;
    border-radius: 0 20px 20px 20px;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.46);
    transition: .1s all ease-in-out;

}

.close {
    width: 130px;

}

.open {
    width: 400px;

}

.left-bar-top {
    background-color: #000000;
    height: 50px;
    color: white;
    border-radius: 0px 20px 0 0;
    padding: 13px 18px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;

}

.left-bar-bottom {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.left-bar-bottom>p {
    width: 68px;
    height: 68px;
    left: 32px;
    top: 166px;
    border: 1px solid #0029FF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.02em;
    color: #0029FF;
}

.board-items>:nth-child(1) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-bottom: 18px;
}