.wrapper {
    max-width: 1440px;
    display: flex;


}

.middle {
    max-width: 1066px;
    margin: 0 auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 35px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #0029FF;

}

.submit-btn {
    padding: 9px 24px;
    background: #0029FF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    border: none;
}

.sub-heading {
    background: #E9ECEF;
    border-radius: 5px;
    padding: 25px 27px;
}

.info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.discription {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}


.cards{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    padding: 75px 17px;
}
